@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flyonui";

.bg-guessr {
    background: linear-gradient(to bottom, #1A1A2E, #545494)
}

.logo-banner-container {
    max-width: 500px;
}

.font-guessr {
    font-family: 'Roboto Condensed Variable', sans-serif;
    font-style: italic;
    font-weight: 900;
}
